html, .citation_box, details, summary, .social li {
  background-color: #1F2937;
}
.highlight {
  color: black;
}
.highlight a {
  color: blue;
  border-bottom: 2px dotted blue;
}
.highlight a:hover {
  color: violet;
}
a {
  color: lightgreen;
  border-bottom: 2px dotted lightgreen;
}
a:hover {
  color: #ccc;
}
h1, h2, h3 {
  color: orange;
}
.social_interaction, .webmention {
  background: none;
}
p, li, dt, dd, .indieweb_footer, input, label {
  color: white;
}
input, textarea, code, pre, main {
  background-color: #0c2548;
  color: #ccc;
}
